<div class= "container page">
  <div class= "row index-league">
    <div class= "profile-infos">
      <div class="avatar-index">
        <%= render "shared/avatar" %>
      </div>
      <div class="infos-index">
        <div class="personnal-infos-index">
          <h1>Hello <%= current_user.first_name %> !</h1>
          <p class="text-infos-index"> Here you can create your own league and join your leagues.</p>
        </div>
        <div class="new-tournament" >
          <a class="btn btn-flat create-tournament" href="/leagues/new">Create new League</a>
        </div>
      </div>
    </div>




  <div class="everything">
    <div class="your-tournament">
      <h3> Your Leagues</h3>

      <% @leagues.each do |league| %>
        <div class="position-relative">
          <%= link_to league_path(league), class: "text-decoration-none" do %>
            <div class="leagues" style="background: white;">
              <div style="display: grid;justify-items: start;">
                <p class="p-name-league"><%= league.name %></p>
                <p class="p-creator-league">
                  Created by <strong><%= league.creator == current_user ? "you" : league.creator.first_name %></strong> on <%= league.creator.created_at %>
                </p>
                <p class="p-sport-league"><%= league.sport %></p>
              </div>
            </div>
          <% end %>
          <div class="league-index-details position-absolute" style="top: 11px; right: 33px;">
            <% if league.creator == current_user %>
              <%= link_to "X", league_path(league), class: "btn-cancel", data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to cancel your league?" } %>
            <% end %>
          </div>
        </div>
      <% end %>

  </div>


    </div>
  </div>
</div>
