
<div class="container">
      <%= link_to 'Back', leagues_path, class: "backlink" %>

  <h1 class=" text-center text-white mt-5 mb-4"> See details of your league and invite your friends!
  </h1>

  <div class="details-card">
      <div class="card text-center">
      <h2> Your league:</h2>
      <%= @league.name %>
      <h2> Sport:</h2>
      <%= @league.sport %>

      <p>Share this link: </p>
      <%= invitation_url %>
      <% @league.users.each do |user| %>
      <p>Owner:</p>
      <%= user.email %>
      <% end %>

      <p><%= link_to "See matches", league_matches_path(@league) %></p>

      <%= link_to "Set Matches!", league_matches_path(@league), data: { turbo_method: :post } %>

    </div>
  </div>
 </div>

</div>

  <table>
    <tr>
      <th>Position</th>
      <th>Players</th>
      <th>Score Balance</th>
      <th>Wins</th>
    </tr>
    <tr>
      <td>1</td>
      <td>name</td>
      <td>345</td>
      <td>7</td>
    </tr>
    <tr>
      <td>3</td>
      <td>name 4</td>
      <td>377</td>
      <td>8</td>
    </tr>
  </table>
