
<div class="container">
      <%= link_to 'Back', leagues_path, class: "backlink" %>

  <h1 class="text-center text-white mt-5 mb-4"> See details of your league and invite your friends!
  </h1>

      <div class="details-card">

        <h3> Your league:
          <%= @league.name %>
        </h3>

        <h3> Sport:
          <%= @league.sport %>
        </h3>
        <p>~</p>
        <p>Share this link: </p>
        <p>
          <%= invitation_url %>
        </p>
        <p>
          <% @league.users.each do |user| %>~
        </p>
        <p>Owner:</p>
        <p>
          <%= user.email %>
        </p>
        <% end %>

       </div>

      <div class="text-color-link">
        <%= link_to "See matches", league_matches_path(@league) %>
        <%= link_to "Set Matches!", league_matches_path(@league), data: { turbo_method: :post } %>
      </div>


</div>

  <table>
    <tr>
      <th>#</th>
      <th>Players</th>
      <th>Wins</th>
      <th>Points</th>
    </tr>
      <% i = 1 %>
  <% @leaderboard_players.order("points DESC").each do |player| %>
      <tr>
        <td><%= i %></td>
        <td><%= player.first_name %> <%= player.last_name %></td>
        <% u_l = @league.user_leagues.where("user_id = #{player.id}").first %>
        <td><%= u_l.points / 3 %></td>
        <td><%= u_l.points %></td>
      </tr>
      <% i += 1 %>
  <% end %>
    </table>
