    <div class="container">
      <a href="/leagues"><i class="fa-solid fa-chevron-left"></i></a>

  <div class="container" style="margin-left: 10px; margin-top: 20px">
  <div class="module-wrapper text-center">
    <div class="module">

      <div class="details-card">
        <h3>
          <%= @league.name %>
        </h3>

        <h3>
          <%= @league.sport %>
        </h3>

        <p>Click here to share and invite your friends </p>
        <p>
          <%= invitation_url %>
        </p>
      </div>

    </div>
  </div>
</div>
      <div class="text-color-link">
        <%# implement a helper to display either button depending on whether matches are set already + style it %>
        <%= link_to "See matches", league_matches_path(@league) %>
        <%= link_to "Set Matches!", league_matches_path(@league), data: { turbo_method: :post } %>
      </div>
    </div>



<table>
  <tr>
    <th>#</th>
    <th>Players</th>
    <th>Wins</th>
    <th>Points</th>
  </tr>
  <% i = 1 %>
  <% @leaderboard_players.order("points DESC").each do |player| %>
    <tr>
      <td><%= i %></td>
      <td><%= player.first_name %> <%= player.last_name %></td>
        <% u_l = @league.user_leagues.where("user_id = #{player.id}").first %>
      <td><%= u_l.points / 3 %></td>
      <td><%= u_l.points %></td>
    </tr>
    <% i += 1 %>
  <% end %>
</table>
