<%= render "shared/league_info" %>

<div class="league-slider mt-3 mb-4">
  <%= link_to league_path(@league), class: "l-slider-leaderboard text-decoration-none" do %>
    <i class="fa-solid fa-table-list"></i>
  <% end %>
  <% if @league.matches.present? %>
    <%= link_to league_matches_path(@league), class: "l-slider-matches", id: "defunc-slider" do %>
      <i class="fa-solid fa-user-group"></i>
    <% end %>
  <% else %>
    <span class="l-slider-matches text-black"><i class="fa-solid fa-user-group"></i></span>
  <% end %>
</div>


<div class="conditional-league-items">
  <% if @league.users.size <3 %>
    <p style="color:white; background-color:#E60F05; text-align:center; font-size:14px; width:250px; margin:auto; border-radius:5px;"><i class="fa-solid fa-triangle-exclamation"></i> Your league needs three or more players before you can start<i class="fa-solid fa-triangle-exclamation"></i></p>
  <% end %>

  <% if @league.users.size >2 && @league.creator != current_user && @league.matches.empty? %>
    <p style="color:white; background-color:#E60F05; text-align:center; font-size:14px; width:300px; margin:auto; border-radius:5px;"><i class="fa-solid fa-triangle-exclamation"></i> Wait for <%= @league.creator.first_name %> to start the league<i class="fa-solid fa-triangle-exclamation"></i></p>
  <% end %>

  <% if @league.creator == current_user && @league.matches.empty? && @league.users.size >2%>
    <div class="btn-set-matches">
      <%= link_to "Start League!", league_matches_path(@league), data: { turbo_method: :post } %>
    </div>
  <% end %>
</div>

<div class="table-container" style="margin-top:15px;">
  <table class="table table-striped table-hover" style="background-color:#ffffff; border-radius:10px; overflow: hidden">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col"></th>
        <th style='text-align:center' scope="col">Players</th>
        <th scope="col">Played</th>
        <th scope="col">Won</th>
        <th scope="col">Points</th>
      </tr>
    </thead>
    <tbody>
      <% i = 1 %>
      <% @leaderboard_players.order("points DESC").each do |player| %>
        <tr>
        <th style='text-align:center' scope="row"><%= i %></th>
        <td>
          <% if (@league.creator == current_user || current_user == player) && @league.matches.empty? %>
            <div class="d-flex flex-column">
              <%= link_to "X", delete_player_league_path(@league, player_id: player.id), class: "btn-cancel", data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove this player from your league?" } %>
            </div>
          <% end %>
        </td>
        <td style='text-align:center'><%= player.first_name %> <%= player.last_name %>
        </td>
        <% u_l = @league.user_leagues.where("user_id = #{player.id}").first %>
        <% u_m = @league.matches.where("(player1_id = #{player.id} OR player2_id = #{player.id}) AND winner_id IS NOT NULL") %>
        <td style='text-align:center'><%= u_m.count %></td>
        <td style='text-align:center'><%= u_l.points / 3 %></td>
        <td style='text-align:center'><%= u_l.points %>
        </td>
        </tr>
      <% i += 1 %>
    <% end %>
    </tbody>
  </table>
</div>
