<%# not sure about how to put it as url, need 'a' instead of 'link to' in order to display font-awesome arrow... %>
<a href= "/leagues/<%=@league.id%>" ><i class="fa-solid fa-chevron-left"></i></a>

<div class="overall-matches">
  <% @max_round.times do |round| %>
    <% round += 1 %>
    <div class="form-action"></div>
    <div class=round data-controller="pick-winner">
      <div class="round-num">
        <p class="lead"><strong>ROUND <%= round %></strong></p>
      </div>
      <% @matches.where(round: round).each do |match| %>
        <div class="match align-items-center">
          <div>
            <%= link_to setwinner_match_path(match, winner_id: match.player1), data: { turbo_method: :post }, style:"text-decoration:none" do %>
              <div class="player1 <%= "btn winner" if match.player1 == match.winner %>" data-pick-winner-target="player" data-action="click->pick-winner#send">
                <%= "#{match.player1.first_name} #{match.player1.last_name}" %>
              </div>
            <% end %>
          </div>
          <div class="vs">vs</div>
          <div>
            <%= link_to setwinner_match_path(match, winner_id: match.player2), data: { turbo_method: :post }, style:"text-decoration:none" do %>
              <div class="player2 <%= "btn winner" if match.player2 == match.winner %>" data-pick-winner-target="player" data-action="click->pick-winner#send">
                <%= "#{match.player2.first_name} #{match.player2.last_name}" %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
