<!DOCTYPE html>
<html>
  <head>
    <%# <title><%= meta_title %><%# </title> %>
    <%# <meta name="description" content="<%= meta_description %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
    <%= render 'shared/ios_pwa_links' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag "favicon.png", rel: "icon", type: "image/png" %>

    <%# reinstate facebook meta here %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="page-container">
      <% if controller_name!="pages" && action_name!="home" %>
        <%= render "shared/navbar" %>
      <% end %>

      <main id="main-content">
        <%= yield %>
      </main>

     <% if (controller_name!="pages" && action_name!="home") && (controller_name!="sessions" && action_name!="new") && (controller_name!="registrations" && action_name!="new") %>
         <%= render "shared/footer" %>
     <% end %>
    </div>
  </body>


</html>
