<!DOCTYPE html>
<html>
  <head>
    <title><%= meta_title %></title>
    <meta name="description" content="<%= meta_description %>">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
    <%= render 'shared/ios_pwa_links' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag "favicon.png", rel: "icon", type: "image/png" %>

    <meta property="og:title" content="<%= meta_title %>">
    <meta property="og:type" content="website">
    <meta property="og:url" content="<%= request.original_url %>">
    <meta property="og:image" content="<%= meta_image %>">
    <meta property="og:description" content="<%= meta_description %>">
    <meta property="og:site_name" content="<%= meta_title %>">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.10/clipboard.min.js"></script>
  </head>

  <body>
    <div class="page-container">
      <% if controller_name!="pages" && action_name!="home" %>
        <%= render "shared/navbar" %>
      <% end %>
      <%= render "shared/flashes" %>

      <main id="main-content">
        <%= yield %>
      </main>

     <% if (controller_name!="pages" && action_name!="home") && (controller_name!="sessions" && action_name!="new") && (controller_name!="registrations" && action_name!="new") %>
         <%= render "shared/footer" %>
     <% end %>
    </div>
  </body>
</html>
